body {
    background: #ffffff;
    font-family: 'Abel', sans-serif;
    font-size: 20px;
    color: #3b3b3b;
}

h1 {
    font-family: "impact";
    font-weight: normal;
    text-transform: uppercase;
}
